[submodule "frontend"]
	path = frontend
	branch = main
	update = merge
	url = https://github.com/trak2021z/frontend-aplikacji-testujacej.git

[submodule "backend"]
	path = backend
	branch = main
	update = merge
	url = https://github.com/trak2021z/backend-aplikacji-testujacej
